<h1><%= @drinks_title %></h1>

<% total = 0 %>
<% @drinks.each do |drink| %>
<% total += drink.amount.to_f %>
<article>
  <h2>
    <%= drink.author.name %>
  </h2>
  <h3>
    <%= drink.name %>
  </h3>

  <p>
    <%= drink.amount %>
    <%= drink.created_at %>
  </p>

</article>
<% end %>
<%= link_to  "Add new", 'javascript:void(0);' %>