<%= page_name(@drinks_title) %>

<%= drinks_total %>
<% @drinks.each do |drink| %>
<article>
  <%= show_icon(drink) %>
  
  <h2>
    <%= drink.author.name %>
  </h2>
  <h3>
    <%= drink.name %>
  </h3>

  <p>
    <%= drink.amount %>
    <%= drink.created_at %>
  </p>

</article>
<% end %>
<%= link_to  "Add new", new_drink_path %>