<%= page_name('All my groups') %>
<% @groups.each do |group| %>
  <article>
    <%= show_group_icon(group) %>
    <h2><%= link_to group.name, group %></h2>
    <p><%= group.created_at %></p>
  </article>
<% end %>
<%= link_to  "Create new", new_group_path %>