<%= page_name('Log in') %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'd-flex flex-column full-height mt-10' }) do |f| %>
  <div class="py-2 px-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email' %>
  </div>

  <div class="pl-4">
    <hr/>
  </div>

  <div class="py-2 px-4">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password' %>
  </div>

  <div class="pl-4">
    <hr/>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="d-flex py-2 px-4">
      <%= f.label :remember_me, 'remember me:', class: 'mr-4' %>
      <div class="d-flex flex-column justify-content-center align-items-center checkbox-container btn btn-success align-self-center">
        <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end %>

  <div class="pl-4 mb-3">
    <hr/>
  </div>

  <%= render "devise/shared/omniauth" %>

  <%= f.submit "Log in", class: 'position-fixed button__info component--stick-to-bottom btn btn-success full-width' %>
<% end %>
