  <%= return if profile_page?(yield(:title)) %>
  
  <nav class="navbar_custome position-fixed component--stick-to-top">

    <div class="d-flex justify-content-between align-items-center">
      <%= link_to '', 'javascript:history.go(-1);', class: 'fas fa-arrow-left' %>
      <h1><%= yield(:title) %></h1>
      <a class="fas fa-bars" data-toggle="collapse" href="#navMenu" role="button" aria-expanded="false" aria-controls="navMenu">
      </a>
    </div>

    <% unless current_user.nil? %>
      <div class="collapse" id="navMenu">
        <div>
          <%= link_to current_user.name, current_user%>
        </div>
        <div>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="collapse" id="navMenu">
        <div>
          <%= nav_session_link(yield(:title)) %>
        </div>
      </div>
    <% end %>
  </nav>