<!DOCTYPE html>
<html>
  <head>
    <title>MyDrinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/aa8f7564dc.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/navbar' %>
    <%= render '/layouts/errors' %>
    
    <div class="<%= html_class_main_div(yield(:title)) %>">
      <%= yield %>
    </div>
  </body>
</html>
